<div class="container bootstrap snippet" ng-controller="editprofilecontroller">
    <div class="row mt-5 text-turquesa">
  		<div class="col-sm-4">
              
			      <div class="text-center">
			      	<h2>{{editusername}}</h2>
			            <!--  <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar rounded-circle img-thumbnail" alt="avatar"> -->

                  <!-- <form>
                    <div class="form-group">
                      <input type="file"  accept="image/png, image/jpeg, image/gif" class="form-control-file text-center center-block" id="exampleFormControlFile1">
                    </div>
                  </form> -->

                       <div class="kv-avatar">
                            <div class="file-loading">
                                <input id="avatar-2" name="avatar-2" type="file" required>
                            </div>
                        </div>


			      </div>
                         
        </div>

    	<div class="col-sm-8">
        
            <style>
                        .kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
                            margin: 0;
                            padding: 0;
                            border: none;
                            box-shadow: none;
                            text-align: center;
                        }
                        .kv-avatar {
                            display: inline-block;
                        }
                        .kv-avatar .file-input {
                            display: table-cell;
                            width: 213px;
                        }
                        .kv-reqd {
                            color: red;
                            font-family: monospace;
                            font-weight: normal;
                        }
            </style>
 
            <div id="kv-avatar-errors-2" class="center-block" style="width:800px;display:none"></div>
            <form class="form form-vertical" action="/avatar_upload.php" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-sm-12">
                              <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="email">E-mail<span class="kv-reqd">*</span></label>
                            <input type="email" class="form-control" name="email" value="{{correo}}" required>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="usuario">Usuario<span class="kv-reqd">*</span></label>
                            <input type="text" class="form-control" name="usuario" value="{{usuario}}" required>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="departamento">Departamento</label>
                             <select class="custom-select" value="{{departamento}}" id="inputGroupSelect01" ng-model="state" ng-options="state.name for state in states" ng-change="getCity(state)">
                          <option disabled selected>---Escoger Departamento---</option>
                        </select>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="municipio">Municipio</label>
                            <select class="custom-select" value="{{municipio}}" id="inputGroupSelect02" ng-show="cityList" ng-model="city" ng-options="city for city in cityList" ng-change="displayCity(city)">
                                <option disabled selected>---Escoger Municipio---</option>
                             </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <hr>
                        <div class="text-right"> 
                          <button type="submit" class="btn btn-primary d-inline">Guardar</button>
                          <a href="#!/profile" class="btn btn-link btn-block d-inline">Cancelar</a>
                        </div>
                      </div>
                    </div>
                </div>
            </form>
            <script>
                      var btnCust = '<button type="button" class="btn btn-primary" title="Add picture tags" ' + 
                          'onclick="alert(\'Call your custom code here.\')">' +
                          '<i class="glyphicon glyphicon-tag"></i>' +
                          '</button>'; 
                      $("#avatar-2").fileinput({
                          overwriteInitial: true,
                          maxFileSize: 1500,
                          showClose: false,
                          showCaption: false,
                          showBrowse: false,
                          browseOnZoneClick: true,
                          removeLabel: '',
                          removeIcon: '<i class="fa fa-eraser" aria-hidden="true"></i>',
                          removeTitle: 'Cancel or reset changes',
                          elErrorContainer: '#kv-avatar-errors-2',
                          msgErrorClass: 'alert alert-block alert-danger',
                          defaultPreviewContent: '<img ng-src="{{editimagenperfil}}" alt="Your Avatar" class="avatarprofile"><h6 class="text-muted">Seleccionar</h6>',
                          layoutTemplates: {main2: '{preview} ' +  btnCust + ' {remove} {browse}'},
                          allowedFileExtensions: ["jpg", "png", "gif"]
                      });
            </script>
        </div>



     </div>
</div>


<script>
	$('#myTab a').on('click', function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	})


</script>
    