   <div class="full" ng-controller="homecontroller">
          <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">App</a>
            <button class="navbar-toggler text-turquesa" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >{{usuarioactivo}}
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto d-xs-block d-sm-block d-md-none d-lg-none d-xl-none">
                <li class="nav-item active">
                   <a class="nav-link" href="#!profile">Mi Perfil <span class="sr-only">(current)</span></a>
                </li>
                 <li class="nav-item active">
                   <a class="nav-link" href="#!/add">Agregar Item <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Favoritos</a>
                </li>
                <li class="nav-item active">
                   <a href="#!/login" class="nav-link btn btn-outline-danger" ng-click="cerrarsesion()">Salir <i class="fa fa-sign-out float-right" aria-hidden="true"></i>
                     </a>
                </li>
              </ul>
               
                </div>
                <div class="dropdown d-none d-md-block d-xl-block float-right">
                  <button class="btn btn-outline-primary dropdown-toggle text-turquesa" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{usuarioactivo}}
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#!/profile">Mi Perfil</a>
                     <a class="dropdown-item" href="#!/add">Agregar Item</a>
                    <a class="dropdown-item" href="#">Favoritos</a>
                     <a href="#!/login" class="dropdown-item btn btn-outline-danger" ng-click="cerrarsesion()">Salir <i class="fa fa-sign-out float-right" aria-hidden="true"></i>
                     </a>
                  </div>
                </div>
          </nav>


            <div class="container m05">
               <div class="row">
                    <div class="col-md-3 col-sm-4 mt-1" ng-repeat="item in items | orderBy:'date'">
                       <div class="card bg-dark3">
                          <img class="card-img-top" src="//placeimg.com/280/180/tech" alt="Card image cap">
                          <div class="card-body">
                             <a href="#" class="text-turquesa">
                             <h5 class="card-title border-bottom pb-3">{{item.title}}</a>
                              <a href="#" class="float-right btn btn-sm btn-info d-inline-flex share rounded-circle">
                              <i class="fa fa-user-o" aria-hidden="true"></i></a>
                            </h5>
                             <p class="card-text text-turquesa">{{item.content}}</p>
                          </div>
                       </div>
                    </div>
                 </div>
            </div>



            

   </div>
   



    <script>
      $('.dropdown-toggle').dropdown()
    </script>