   <div class="full" ng-controller="myoffertscontroller">
          

 <main-menu></main-menu>
            <div class="container m05">
               <div class="row">
                    <div class="col-md-3 col-sm-4 col-6 col-xs-12 mt-1 mb-1" ng-repeat="item in items">
                       <div class="card bg-dark3">
                        <a href="">
                           <img class="card-img-top img-fluid img-280180" src="img/test300.png" alt="Card image cap">
                        </a>
                         
                          <div class="card-body npad">
                             <a href="#" class="text-turquesa">
                             <h5 class="card-title border-bottom pb-3">{{item.title}}</a>
                              <button type="button" class="float-right btn btn-link">
                                Precio: <span class="badge badge-light">{{item.price}}</span>
                              </button>
                            </h5>
                            <div class="row align-items-center">
                              <span class="card-text text-turquesa col align-middle">{{item.content}}</span>
                              <a href="/editItem" class="float-right col text-right">Editar</a>
                            </div>
                             
                          </div>
                       </div>
                    </div>
                 </div>
            </div>


   </div>
   



    <script>
      $('.dropdown-toggle').dropdown()
    </script>