<div class="container" ng-controller="profilecontroller">
	 <div class="rounded-0 pt-3 mt-5 bg-dark2 border border-info position-relative profilebanner">
	 	<div class="row">
	 		<div class="col-md-5 ">
	 			<div class="text-center position-absolute mt-5 ml-5 mcentrado">
				        <img ng-src="{{imagenperfil}}" class="avatarprofile img-thumbnail rounded-3" alt="avatar">			       
			     </div>
	 		</div>
	 		
	 	</div>
		  
	 </div>

	 <div class="jumbotron rounded-0 bg-dark2">
	 	<div class="row justify-content-end">
	 		<div class="col-md-9 fu col-sm-12 marp">
	 			<div class="row marprofileinfo">
	 				<div class="col-md-8 text-turquesa">
	 					<h1 class="display-3">{{nombredeusuario}}</h1>
		                 <h5 class="font-weight-normal"><i class="fa fa-map-marker" aria-hidden="true"></i> {{municipio}}, {{departamento}}</h5>
		                 <h5 class="font-weight-normal"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{usuarioactivo}}</h5>
		                 <h5 class="font-weight-normal"><i class="fa fa-phone" aria-hidden="true"></i> Not Yet</h5>
		                 <h5 class="font-weight-normal"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> June 02, 1988</h5>
	 				</div>
	 				<div class="col align-self-end">
	 					 <a href="#!/editprofile" class="btn btn-outline-primary btn-block">Editar Perfil</a>
	 					  <a href="#!/home" class="btn btn-link btn-block">Cancelar</a>
	 				</div>
	 			</div>
	 			
                       
	 		</div>
	 	</div>
	 	
	 </div>
  

 </div>

    