<div class="container" ng-controller="homecontroller">
	 <div class="jumbotron rounded-0 pt-3 mt-5">
	 	<div class="row">
	 		<div class="col-md-5">
	 			<div class="text-center">
				        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-thumbnail" alt="avatar">
				        <h6>Upload a different photo...</h6>
			   </div>
	 		</div>
	 		<div class="col-md-7">
	 			<div class="row">
	 				<div class="col-md-8">
	 					<h1>User name</h1>
		                 <h5 class="font-weight-normal"><i class="fa fa-map-marker" aria-hidden="true"></i> San Francisco, USA</h5>
		                 <h5 class="font-weight-normal"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{usu}}</h5>
		                 <h5 class="font-weight-normal"><i class="fa fa-globe" aria-hidden="true"></i> www.jquery2dotnet.com</h5>
		                 <h5 class="font-weight-normal"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> June 02, 1988</h5>
	 				</div>
	 				<div class="col">
	 					 <a href="#!/editprofile" class="btn btn-outline-primary btn-block">Editar Perfil</a>
	 					  <a href="#!/home" class="btn btn-link btn-block">Cancelar</a>
	 				</div>
	 			</div>
	 			
                       
	 		</div>
	 	</div>
		  
	 </div>
  

 </div>

    