<div class="row justify-content-center mt-5" ng-controller="registercontroller" ng-init="controlador()">
          <div class="col-md-5">
               <h2 class="text-center text-white">Registrarse</h2>
            <form name="form" ng-submit="register()" role="form">
                <div class="form-group" >
                     <div class="input-group input-group-lg">
                              <div class="input-group-prepend">
                                <i class="fa fa-envelope-o input-group-text rounded-0" aria-hidden="true" id="addon-wrapping"></i>
                              </div>
                              <input type="text" name="email" id="email" class="form-control rounded-0" ng-model="email"  placeholder="Ingrese E-mail" aria-label="username" aria-describedby="addon-wrapping">
                     </div>
                   <!--  <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">First name is required</span> -->
                </div>
                 <div class="form-group" >
                     <div class="input-group input-group-lg">
                              <div class="input-group-prepend">
                                <i class="fa fa-envelope-o input-group-text rounded-0" aria-hidden="true" id="addon-wrapping"></i>
                              </div>
                              <input type="text" name="username" id="username" class="form-control rounded-0" ng-model="username"  placeholder="Ingrese Usuario" aria-label="username" aria-describedby="addon-wrapping">
                     </div>
                   <!--  <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">First name is required</span> -->
                </div>
                 <div class="form-group">
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
              <!--             <label class="input-group-text" for="inputGroupSelect01"></label> -->
                          <i class="fa fa-map-marker input-group-text rounded-0 pr-4" aria-hidden="true" id="addon-wrapping"></i>
                        </div>
                        <select class="custom-select rounded-0" id="inputGroupSelect01" ng-model="state" ng-options="state.name for state in states" ng-change="getCity(state)">
                          <option disabled selected>---Escoger Departamento---</option>
                        </select>
                      </div>
                 </div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
              <!--             <label class="input-group-text" for="inputGroupSelect01"></label> -->
                          <i class="fa fa-map-marker input-group-text rounded-0 pr-4" aria-hidden="true" id="addon-wrapping"></i>
                        </div>
                        <select class="custom-select rounded-0" id="inputGroupSelect02" ng-show="cityList" ng-model="city" ng-options="city for city in cityList" ng-change="displayCity(city)">
                          <option disabled selected>---Escoger Municipio---</option>
                        </select>
                      </div>
                </div>
                
                <div class="form-group">
                    <div class="input-group input-group-lg">
                              <div class="input-group-prepend">
                                <i class="fa fa-key input-group-text rounded-0" aria-hidden="true" id="addon-wrapping"></i>
                              </div>
                              <input type="password" name="password" id="password" class="form-control rounded-0" ng-model="password"  placeholder="Ingrese Contraseña" aria-label="password" aria-describedby="addon-wrapping">
                     </div>
                 
         <!--            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span> -->
                </div>

                <div class="form-group">
                    <button type="submit"  class="btn btn-primary btn-block btn-lg rounded-0">Registrarse</button>
                     <a href="#!/login" class="btn btn-link btn-block">Cancelar</a>
<!--                     <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                   ng-disabled="form.$invalid || vm.dataLoading" /*ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }"* ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }"-->
                </div>
            </form>
    </div>
</div>
