:root{
   --dark1:#343a40;
   --dark2:#292e33;
   --dark3:#1f2226;
   --dark4:#141719;
   --turquesa:#1abc9c;
   --turquesa2:#0f8d74;
   --primary:#1abc9c;
}


input:focus{
   outline:0px;
}

.form-control:focus {
    outline: none;
}

.text-turquesa{
   color: var(--turquesa) !important;
}

.bg-dark1{
	background-color: var(--dark1)!important;
}
.bg-dark2{
	background-color: var(--dark2)!important;
}
.bg-dark3{
	background-color: var(--dark3)!important;
}
.bg-dark4{
	background-color: var(--dark4)!important;
}

.btn-primary{
	background-color: var(--turquesa)!important;
	border-color: var(--turquesa)!important;
}

.btn-outline-primary {
    color: var(--turquesa)!important;
    border-color: var(--turquesa)!important;
}

.btn-outline-primary:hover{
  background-color: var(--turquesa2)!important;
  color: white !important;
}

.btn-primary:hover{
	background-color: var(--turquesa2)!important;
	border-color: var(--turquesa)!important;
}

.btn-link{
	color: var(--turquesa2);
}

.btn-link:hover {
    color: var(--turquesa);
}



.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active,
 .show>.btn-outline-primary.dropdown-toggle {
      color: white!important;
      background-color: var(--turquesa2)!important;
      border-color: var(--turquesa)!important;
}


.dropdown-item:focus, .dropdown-item:hover {
    color: white;
    text-decoration: none;
    background-color: var(--turquesa2)!important;
}


.input-group-text{
	background-color: var(--turquesa);
    color: white;
    border: none;
}

.bordeinput{
     border: 2px solid var(--turquesa);
}

.full{

    margin-left: -15px;
    margin-right: -15px;
}

input::-webkit-input-placeholder {
    font-size: 1.1rem;
    line-height: 4;
}

.navbar-dark .navbar-toggler {
    color:  var(--turquesa);
    border-color: 1px solid var(--turquesa);

}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem !important;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

/*cards*/

/* Tool Colors */
.general {
  background-color: #0095af;
}

.general .card-title {
  color: #f3f3f3;
}

.general .card-text {
  color: #f3f3f3;
}

.card-img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: #008CBA;
}

.card-pin:hover .overlay {
  opacity: .5;
  border: 5px solid #f3f3f3;
  transition: ease .5s;
  background-color: #000000;  
  cursor: zoom-in;
}

.more {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  transform: translate(-20%, -20%);
  -ms-transform: translate(-50%, -50%);
}

.download {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 20px;
  text-transform: uppercase;
  transform: translate(-20%, -20%);
  -ms-transform: translate(-50%, -50%);
}

.card-pin:hover .card-title {
  color: #ffffff;
  margin-top: 10px;
  text-align: center;
  font-size: 1.2em;
}

.card-pin:hover .more a {
  text-decoration: none;
  color: #ffffff;
}

.card-pin:hover .download a {
  text-decoration: none;
  color: #ffffff;
}


.m05 {
    margin-top: 0.5rem !important;
}



.jumbotron {
    padding: 2rem 2rem !important;
    margin-bottom: 2rem !important;
    background-color: #e9ecef;
   
}

.img-280180{
  width: 100%;
  height: 100%;
}


.profilebanner {
/*    position: relative;*/
    background-position: 80% 80% !important;
    background-repeat: no-repeat !important;
  /*  overflow: hidden;*/
    background-size: cover ;
    height: 166px;
    background-image: url(../img/8331.png);

}

.img-thumbnail {
    padding: .25rem;
    background-color: white;
    border: 1px solid var(--turquesa);
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.imgavatar{
   width: 30px !important;
   height: 30px !important;
}

.avatarprofile{
   width: 200px !important;
   height: 200px !important;
}



/*media*/

@media (max-width: 767.98px) {
    .text-small{
      font-size: small !important;
    }

    .marprofileinfo{
      margin-top: 5rem !important;
    }

    .mcentrado{
      margin-left: calc(30% - 20px) !important;
    }

    .ml-5{
      margin-left:0rem;
    }

    .avatar{
      width: 75%
    }


}


@media (max-width: 991.98px) {


    .marprofileinfo{
      margin-top: 5rem !important;
    }

    .col-md-9.fu {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

}

@media (max-width: 575.98px) {

    .marp{
      padding: 0px !important;
    }
    .display-3 {
        font-size: 3rem; 

    }

}

@media (max-width: 1199.98px) {

    .marp{
      padding: 0rem 3rem;
    }

}
























